@import "../../../scss/module-base.scss";

.header {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: cadetblue;
}

.user {
  width: 50%;
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  width: 50%;
  text-align: right;
  
  img {
    width: auto;
    height: 4rem;
  }
}

.carouselDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}
