@import "../../../../scss/global.scss";

.wrapper {
  //width: 100%;
  max-width: 800px;

  .heightItem {
    padding: 100px;
    color: white;
    //background-color: $dark-red;
    font-family: $font;

    h1 {
      font-weight: 100;
    }
  }
}
