.mainWrapper {
  display: flex;
  width: 100%;
  border: 2px solid red;
  //padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.left, .right {
  display: flex;
  padding: 1rem 0;
  width: 50%;
}

.right {
  justify-content: flex-end;
}
